# --- Core Application Dependencies ---
python-dotenv==1.1.1
requests==2.32.4
Pillow==11.3.0
watchdog==6.0.0
tensorflow-cpu==2.12.0
keras==2.12.0
numpy==1.23.5

# --- For Building Executable ---
pyinstaller==6.14.2
